/* Theme Styling */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ddd;
    overflow-x: hidden;
}

hr{
    width: 50%;
}

/* Banner Stuff */
#banner, #banner nav ul, #banner nav{
    margin: 0px;
    width: 100%
}

#banner{
    background: linear-gradient(#fff, #ddd);
}

#banner h1{
    font-size: 4.5rem;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#banner nav ul li{
    margin: 0px;
    display: inline-flex;
}

#banner nav ul li a{
    color: #ffffff;
    background-color: darkcyan;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0px;
    border-radius: 0px 0px 1rem 1rem;
}

#banner .user-icon{
    border-radius: 100%;
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    box-shadow: 10px 10px grey;
}

/* Navigational Buttons */
.webnav{
    background: #444;
    box-shadow: 10px 10px grey;
    color: #fff;
    border: none;
    border-right: 0.2rem dotted #fff;
    font-weight: bold;
    font-size: 1rem;
    padding: .5rem;
    margin: 0px;
    display: inline-flex;
}

.webnav:hover{
    background: #222;
    color: #eee;
}

.leftmost{
    border-radius: 0px 1rem 1rem 0px;
    border: none;
}

.rightmost{
    border-radius: 1rem 0px 0px 1rem;
}

#nbutton{
    display: flex;
    width: 100%;
}

#nbutton li{
    display: inline;
    margin: 0px;
    padding: 0px;
}

#nbutton ul{
    display: flex;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

/* content */
#content{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.sect-title{
    font-weight: 200;
    text-decoration: underline;
    font-size: 2rem
}

#portfolio,#contact{
    display: none;
}

/* contact */
#content table{
    width: 100%;
}

#content table tr{
    width: 100%;
    border: 1px solid black;
    text-align: left;
}

/* footer */
#footer{
    width: 100%;
    padding: 2rem;
    background: linear-gradient(#222,#000);
    color: white;
    margin-top: 5rem;
    bottom: 0px;
}
